@import url('variables.css');
@import url('theme.css');
@import url('cards.css');
@import url('menu.css');
@import url('hero-banner.css');
@import url('solutions.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.container {
    max-width: 85vw;
    margin: auto;
    padding: 50px;
}

@media (max-width: 425px) {
    .container {
        max-width: 80vw;
        margin: auto;
        padding: 15px;
    }
}

/* Animações */
/* @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.content-section {
    animation: 1s ease-out 0s 1 slideInFromLeft;
} */