@import url('theme.css');
@import url('menu.css');
@import url('menu-itens.css');
@import url('hero-banner.css');
@import url('about.css');
@import url('blog-card.css');
@import url('services.css');
@import url('contact.css');
@import url('footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    max-width: 90vw;
    margin: auto;
    padding: .2em;
}

.title--session {
    text-align: center;
    font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 30pt;
    margin-bottom: .5em;
}

section {
    margin: 3em 0;
}

@media (min-width: 768px) {
    .title--session {
        font-size: 40pt;
    }
}

/* Animações */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.content-section {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}